body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

.container {
  width: 620px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #b3d7fa;
  border: 1px solid #dee2e6;
  padding: 10px;
  margin: 10px 0 10px 0;
  border-radius: 5px;
}

.user-card a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #333;
}

.user-card p {
  font-size: 1rem;
  color: #6b6a6a;
  margin-top: 80px;
}

.user-photo {
  width: 110px;
  height: 130px;
  margin-right: 20px;
}

.post {
  margin-bottom: 20px;
}

.post h2 {
  margin: 0;
}

.post-info {
  font-size: 0.9em;
  color: #888;
}

.button {
  width: 50%;
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  margin-left: 125px;
}

.card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #b3d7fa;
  border: 1px solid #dee2e6;
  margin-top: 50px;
  padding: 10px;
  border-radius: 5px;
}

.post-wrapper {
  width: 600px;
  position: relative;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 50px 20px 50px;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-right: 7.5rem;
}

.allPost-info img,
.user-info img {
  width: 200px;
}

.allPost-info h1,
.user-info h1 {
  font-size: 3rem;
}

.allPost-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-right: 3rem;
}

.form-container {
  width: 200px;
  position: absolute;
  top: 390px;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #b3d7fa;
}

.create-btn {
  width: 50%;
  padding: 10px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  align-self: flex-end;
  text-align: center;
  text-decoration: none;
}

.like-cmt-container {
  position: absolute;
  top: 167px;
  right: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #b3d7fa;
}

.cmt-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cmt-submit {
  padding: 10px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  align-self: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
